<%# <p style="color: green"><%= notice %>

<div class="card"  id="card-comment1">
  <div >
    <p><strong>Publicación:</strong></p>
    <p><%= @publicacion.first.title %></p>
  </div>
</div>

<%= render @comment %>
<% if current_user.id == @comment.user_id %>
<div>
  <%= link_to "Editar este comentario", edit_comment_path(@comment) %> |
  <%= link_to "Regresar a comentadrios", comments_path %>
  <%= button_to "Eliminar comentario", @comment, method: :delete, class: 'btn btn-warning', id:'btnComentari' %>
</div>
<% end %>
