<div class="container">
<div class="row">
    <div class="col-md-12">
      <%= render "search" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" id='btn_filter'> 
    <%= link_to "Formula una pregunta", new_publish_path, class: 'btn btn-secondary box-1', id:'btnQuestion' %>
      <div class="btn-group" role="group">  
        <%# <%= button_to 'Activas', user_session_path, class: 'btn btn-warning box-1', id:'btnActive'%>
        <%# <%= button_to 'Populares', user_session_path, class: 'btn btn-warning box-1', id:'btnPopular'%>
        <%# <button type="button" class="btn btn-warning bi bi-filter box-1" data-bs-toggle="dropdown" aria-expanded="false" id="btnfilter"></button> %>
        <%# <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li><a class="dropdown-item" href="#">Semana</a></li>
          <li><a class="dropdown-item" href="#">Mes</a></li>
          <li><a class="dropdown-item" href="#">A침o</a></li>
        </ul>         %>
      </div>      
    </div>
  </div>
  <div class="row" id="container-card">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body" id="card_Pprincipal">
        <%# <h3 class="card-title" id="publish_name">Publicaciones <span><%= @total_publish.size %></span> </h3> 
          <h3 class="card-title" id="publish_name">Publicaciones</h3> 
            <div id="publishes">
              <% @publishes.each do |publish| %>
              <%= render publish %>
              <% end %>
              
            </div> 
            <div class="paginate">
              <%= paginate @publishes, id:'paginate'%>
            </div>        
            <%# <%= link_to "Nueva Publicaci칩n", new_publish_path %>
        </div>  
      </div> 
    </div>
    <div class="col-md-4">
      <div class="card" id="card-votados">
        <div class="card-body">
          <h4 class="card-title"><center><%= @more_likes.size  %> Temas m치s Valorados</center></h4>
          <hr>
            <div class='mt-3  votadosindex'>
              <% @more_likes.each do |morelikes|  %> 
                    <% total = (morelikes.likes + morelikes.dislikes)  %>
                <div class="card text-bg-light mb-3" style="max-width: 100%;">
                <div class="card-header"><h6><%= morelikes.title.capitalize %></h6></div>
                  <div class="card-body">
                    <p class="card-text">Publicado por: <%= morelikes.user.nickname.capitalize %> </p>
                    <p class="card-text">valoraci칩n: 
                    <% if total.to_f != 0 || total.to_f < 0 %>
                    <% total_2 = (morelikes.likes.to_f / (total.to_f)) %>
                    <%= (total_2 * 100).to_i%>%                  
                    <% else %>
                      <%= 0 %>%</p>
                    <% end %>
                    <p><%= link_to "Ver", publish_path(morelikes.id) %></p>
                  </div>
                </div>             
              <% end %>
            </div>
        </div>  
      </div>
    </div>
  </div>
</div>






