<p style="color: green"><%= notice %></p>

<%= render @publish %>

<div>
<% if @publish.usuario_id == current_user.id %>
    <%= link_to "Edit this publish", edit_publish_path(@publish) %>
    <%= button_to "Destroy this publish", @publish, method: :delete %>
    <%= link_to "Back to publishes", publishes_path %>
  <% else  %>
    <%= link_to "Back to publishes", publishes_path %>
  <% end %>
</div>
