<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="btn-group" role="group">
        <% if user_signed_in?  %>
          <a class="btn btn-warning bi bi-list" id="menu" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"></a>    
        <% end %>
      <a id="name_ucode" href="/">Universal Code</a>
    </div> 
    <div>
      <% if user_signed_in?  %>
        <h5>Hola! <%= current_user.nickname.capitalize %></h5>
      <% end %>
    </div>
    <div class="btn-group" role="group">       
      <% if user_signed_in? %>         
          <%= button_to '', destroy_user_session_path, method: :delete, form: {data: {turbo_confirm: 'Esta seguro?'}}, class: 'btn btn-light bi bi-door-closed', id:'btnLogout' %>
      <% else  %> 
          <%= button_to '', user_session_path ,  class: 'btn btn-light bi bi-person-fill', id:'btnSign_in' %> 
      <% end %>   
    </div>
  </div>
</nav>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <%= image_tag('logo1', id:'logo_menu') %>
    <h5 class="offcanvas-title">Menu</h5>
    <button type="button" id="btnClose" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <hr>
    <% if user_signed_in? %>
  <div class="offcanvas-body">
    <center><h3><%= current_user.nickname.capitalize %></h3></center>
    <hr>
    <h3>Mis Publicaciones:</h3>
    <div>
      <%= link_to "Publicaciones", user_publish_publishes_path(current_user.id) %>
    </div>
    <hr>
    <h3>Mis Comentarios:</h3>
    <div>
      <%= link_to "Comentarios", comments_path %>
    </div>
  </div>
  <% end %>
</div>     