<div id="card-register" class="card" style="width: 50%;">
    <img id="img-register" src="../../../../assets/img/logo1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h1 id="offcanvasRightLabel" style="text-align:center;" class="register">Registrate</h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="row">
    <div class="col-md">
      <div class="form-floating">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        <%= f.label :email %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <div class="form-floating">
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <div class="form-floating">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        <%= f.label :password_confirmation %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="d-grid gap-2 col-6 mx-auto mt-3">
      <%= f.submit "Sign up", class: 'btn btn-outline-warning' %>
    </div>
  </div>

  <div class="row" style="padding: 2%; text-align:end;">
    <%= render "users/shared/links", class: 'link-warning' %>
  </div>
<% end %>
  </div>
</div>
